In [97]:
import pandas as pd
import numpy as np
from pydantic.alias_generators import to_snake
from pathlib import Path
import seaborn as sns
from datetime import timedelta
import matplotlib.pyplot as plt

## Import the Data

In [60]:
df = pd.read_csv("sleeping_on_these_hoes.csv")
df.columns = ["timestamp", "session",'event','data_duration']
df.timestamp = pd.to_datetime(df.timestamp)
df.head()

            timestamp     session        event  data_duration
0 2024-12-02 00:57:31  1733118960  Obstructive          11.00
1 2024-12-02 00:57:57  1733118960  Obstructive          13.00
2 2024-12-01 23:56:37  1733118960     Pressure           4.00
3 2024-12-02 00:04:21  1733118960     Pressure           4.00
4 2024-12-02 00:04:21  1733118960     Pressure           4.02

## Learning about the data
Nightly usage first

In [116]:
# get the start and end time of each session
first_last = df.groupby('session').timestamp.agg(['min','max'])
first_last

                           min                 max
session
1733118960 2024-12-01 23:56:27 2024-12-02 01:05:27
1733205960 2024-12-03 00:06:52 2024-12-03 00:42:52
1733208840 2024-12-03 00:54:34 2024-12-03 03:26:34
1733293440 2024-12-04 00:24:44 2024-12-04 03:15:44
1733383200 2024-12-05 01:20:35 2024-12-05 04:37:35
...                        ...                 ...
1756464120 2025-08-29 05:42:41 2025-08-29 05:43:41
1756466101 2025-08-29 06:15:03 2025-08-29 06:16:03
1756466253 2025-08-29 06:17:35 2025-08-29 06:18:35
1756526940 2025-08-29 23:09:17 2025-08-30 06:04:17
1756553700 2025-08-30 06:35:50 2025-08-30 06:36:50

[442 rows x 2 columns]

In [124]:
session_duration = first_last.diff(axis=1)['max']
session_duration.mean()

Timedelta('0 days 02:25:27.194570135')